body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-color: #000; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
    border-bottom: 1px solid #222;
    padding: 2vmin;
}

.instruction{
    text-align: left;
    width: 70vmin;
    margin-left: auto;
    margin-right: auto;
}

#game-status{
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    display: flex;
    justify-content: space-between;
    width: 70vmin;
}

#game-status span{
    background-color: #222;
    border-radius: 1vmin;
    padding: 1vmin;
    color: #fff;
}

#game-board{
    background-color: #222;
    width: 70vmin;
    height: 70vmin;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
    border : 2vmin solid darkred
}


.snake{
    background-color: green;
    /* border: 0.25vmin solid black; */
    border: 1vmin double #222;
    border-radius: 2vmin;
}

.first{
    border: 1vmin double #000;
}

.food{
    background-color: crimson;
    border: 0.4vmin dotted #aaa;
    border-radius: 2vmin;
    /* animation: myfirst 0.5s linear infinite; */
}

.food-special{
    background-color: blue;
    border: 0.4vmin dotted yellow;
    border-radius: 2vmin;
    animation: myfirst 0.5s linear infinite;
}
  
@keyframes myfirst {
    50%  {
        border: 0.4vmin dashed yellow;
    }  
}